
.suppimage{

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    
  }
  
  .suppimageList{
    margin-left: 410px;
    margin-top: 152px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style:none;
  }
  
  .suppimageList .row{
    min-width: 400px;
    margin-block-start: 10px;
    margin-block-end: 50px;
  }
  
  .suppimageList .row:hover{
    border-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color:white;
    width: max-content;
    height: max-content;
    
  }

  .image{
    display: block;
    width: 100%;
  }

  .suppimage h1{
    font-size: 40px;
    margin-left: 430px;
  }