
body{

    background:  rgb(139, 87, 87);;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50,  rgb(139, 87, 87));
    background: linear-gradient(to left, #2c3e50,  rgb(139, 87, 87));
    margin: 0;
    padding: 0;
    background-color: grey;
    width: 100%;
    max-width: 1650px;
    
    
  }
  
  .sidebar{
    margin-top: -30px;
    margin-left: 4ch;
    height: 112ch;
    width: 311px;
    background:  rgb(139, 87, 87);;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2c3e50,  rgb(139, 87, 87));
    background: linear-gradient(to bottom, #2c3e50,  rgb(139, 87, 87));
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left : 0;
    
  }
  .sidebar h1{
    text-align: center;
    margin-block-start: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 70px;
  }
  
  .sidebarList{
    margin-top: 222px;
    list-style:none ;
  }
  
  .sidebarList .row{
    margin: 25px;
    cursor: pointer;
  }
  
  .sidebarList .row:hover{
    width: max-content;
    height: max-content;
    color: white;
    
  }

  .logoutbutton{
   
    margin-top: 200px;
    margin-inline: 40px;
    font-size: 45px;
    background-color: #323f4d;
    width: max-content;
    border-radius: 111px;
    border-top-right-radius: 111px;
    border-bottom-right-radius: 111px;
    cursor: pointer;
  }

  .logoutbutton :hover{
    color: white;
  }

 


 
  